<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Off Requests</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Time Off Requests</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for request in time_off_requests %}
        <tr>
            <td>{{ request.employee_id }}</td>
            <td>{{ request.start_date }}</td>
            <td>{{ request.end_date }}</td>
            <td>
                {% if request.employee_id == user.username %}
                <a href="{% url 'edit_request' request.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_request' request.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
